# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules/
frontend/.pnp/
frontend/.pnp.js/

# testing
frontend/coverage/

# production
frontend/build/

# misc
frontend/.DS_Store/
frontend/.env.local/
frontend/.env.development.local/
frontend/.env.test.local/
frontend/.env.production.local/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Visual Studio Settings
.vscode

# Python Virtual Environment
backend/.venv/

backend/.env

backend/__pycache__/
backend/models/__pycache__/
backend/routes/__pycache__/
backend/services/__pycache__/
backend/utils/__pycache__/
backend/tests/__pycache__/
backend/.pytest_cache/
backend/tests/.pytest_cache/

.pytest_cache/
backend/tests/__pycache__/
```