.responsive-table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .responsive-table {
      font-size: 0.9rem;
    }
    .responsive-table thead {
      display: none;
    }
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
      display: block;
      padding: 0.5rem;
    }
    .responsive-table td:first-child {
      padding-top: 1rem;
    }
    .responsive-table td:last-child {
      padding-bottom: 1rem;
    }
    .responsive-table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    .responsive-table td:last-child {
      border-bottom: 0;
    }
  }
  
  .pagination-with-padding {
    padding-top: 20px; /* Adjust as needed */
  }
  